.about{
    background-color: #1abc9c;
    width: 100%;
    height: 500px;
    display: inline-block;
}

.about h3{
    color: aliceblue;
    font-size: 3rem;
    padding-top: 8%;
}

.about-line{
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-line1{
    border-radius: 20%;
    width: 100px;
    height: 1px;
    border: solid white 4px;
    
}

.about-line2{
    border-radius: 20%;
    width: 100px;
    height: 1px;
    border: solid white 4px;
    
}

.about-star i{
    color:white ;
    font-size: 1.5rem;
    justify-content: center;
}

.about-p1{
    width: 49%;
    color: aliceblue;
    display: inline-block;
    padding-top: 5%;
    font-size: 1.25rem;
    
}

.about-p2{
    width: 49%;
    color: aliceblue;
    display: inline-block;
    padding-top: 5%;
    font-size: 1.25rem;
   
}