<nav class="navbar navbar-expand-lg p-4 text-uppercase fixed-top">
    <a class="navbar-brand js-scroll-trigger container-a1" href="https://routeegypt.com/start-angular/#page-top">START ANGULAR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  Menu
   </button>
   <div class="navbar-collapse collapse div-ul " id="navbarResponsive">
     <ul class="navbar-nav ml-auto">
         <li class="nav-item mx-0 mx-lg-1">
       <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger container-a2" routerLinkActive="bg-danger text-white" routerLink="/portfolio">PORTFOLIO</a>
         </li>
         <li class="nav-item mx-0 mx-lg-1">
       <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger container-a2" routerLinkActive="bg-danger text-white" routerLink="/about">ABOUT</a>
         </li>
         <li class="nav-item mx-0 mx-lg-1">
       <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger container-a2" routerLinkActive="bg-danger text-white" routerLink="/contact">CONTACT</a>
         </li>
     </ul>
   </div>
 
 </nav>
