<div class="portfolio">
  <h2 class="text-center">PORTFOLIO</h2>
  <div class="portfolio-line">
    <div class="portfolio-line1"></div>
    <div class="portfolio-star">
      <i class="fa-solid fa-star"></i>
    </div>
    <div class="portfolio-line2"></div>
  </div>
  
  <div class="container py-4">
  <div class="row mb-5">
  <div class="item col-md-4">
     <img class="w-100" src="assets/cabin.png">
  </div>
  
  <div class="item col-md-4">
    <img class="w-100" src="assets/cake.png">
    
    </div>
  
    <div class="item col-md-4">
     <img class="w-100 mb-5" src="assets/circus.png">
     
     </div>
  
     <div class="item col-md-4">
     <img class="w-100" src="assets/game.png">
     
     </div>
  
     <div class="item col-md-4">
     <img class="w-100" src="assets/safe.png">
     
     </div>
  
     <div class="item col-md-4">
      <img class="w-100" src="assets/submarine.png" >
      
     </div>
  </div>
  </div>
  
  </div>
  
